*{
  margin:0;
  padding:0;
  box-sizing:border-box;


}
.container{
  @media(min-width:900px)
  {
    max-width:900px;
  }
  @media(min-width:1200px){
  max-width:1200px;
  
  }

width:100%;
margin:auto;
}


header{

  border-bottom:1px solid #dee0ea;
}

ul,li{

  margin:0;
  padding: 0;
  text-indent: 0;
  list-style: none;

}


